h2 {
  color: rgb(102, 0, 128);
 /* margin-left: 20px;*/
  text-align: center;
  text-transform:uppercase;
}
h3 {
  color: rgb(102, 0, 128);
 /* margin-left: 20px;*/
  text-align: center;
  text-transform:capitalize;
}

.navbar {

    background-color: #dddddd;
    text-align: center;
    padding: 20px;
   /* margin: 0 20rem;*/
    
  }
  nav a {
    padding: 10px;
   
  }
   img{
    width: 50px;
    height: 57px;
    object-fit: cover;
    position: fixed;
    margin: 0px 15px 15px 10px;
    left: 0;
   
  }
  .pic{
    width: 100px;
    height: 100px;
    position:absolute;
    left:80px;
    top:100px;
   
  }

.info{
text-align: center;
}

section.form1{
  border: 2px solid rgb(9, 3, 97);
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}







  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dddddd;
    color: navy;
    text-align: center;
 }